# Python Programming: Essentials 1

#### Variables are used to store values. 

#### A string is a series of characters, surrounded by single or double quotes.

Hello world

In [ ]:
print("Hello World") # print() is your first function

Hello world via a variable

In [ ]:
message= "" # assigning a string to a variable

print(message) # message is a variable



Concatenation (combining strings)

In [ ]:
first_name = '' 
last_name = '' 

full_name = first_name + ' ' + last_name 

print(full_name)

In [ ]:
full_name

In [ ]:
# little funny one: multiply words! 
print(full_name * 5)

In [ ]:
print(first_name , last_name ) # the comma adds a space automatically



## List

A list stores a series of items in a particular order. 

You access items using an index, or within a loop. 
Make a list

In [ ]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

print(bicycles)

hill = 'mountain'
bikes = [hill, 'road', 'race', 'penny-farthing']

In [ ]:
print(bikes)

In [ ]:
addon = ['raleigh' , 'brompton']

bicycles = bicycles + addon # add a list to a list

print(bicycles)

In [ ]:
bicycles = bicycles + ['peugeot']

In [ ]:
print(bicycles)

Get the first item in the list

In [ ]:
first_bike = bicycles[0]  # list[position]
print (first_bike)

In [ ]:
third_bike = bicycles[2]  # list[position]
print (third_bike,first_bike)

Get the last item in the list

In [ ]:
last_bike = bicycles[-1]
print(last_bike)

In [ ]:
# write code to print the penultimate (i.e. one before last) bike
second_last =

In [ ]:
print(second_last)

# Working with Strings

## split() function

In [ ]:
# the function split() cuts a string at specified character position then store the result in a list

sentence = "'Jeff Bezos divorce: Amazon billionaire 'dating married former TV presenter'"

words = sentence.split(' ')

print(words)

In [ ]:
url = 'https://www.standard.co.uk/news/politics/brexit-secretary-dominic-raab-quits-his-post-a3990626.html'

elements = url.split('/')
print(elements)

In [ ]:
# adapt to get the first and second part from an email address

email = "trainingsupport@pairview.co.uk"

########## your code below#############

In [ ]:
# write code to get the first name and the last name from the full name that 
# can include 1 or many middle names

################your code################
myname = "Elizabeth Alexandra Mary Windsor"

## join() function

In [ ]:
words

In [ ]:
# the function join() take a list of strings and concatenate its elements separated by the character passed to it
separator =' '

sentence = separator.join(words)

print(sentence)

## strip() function

In [ ]:
# the function strip() removes unwanted characters (spaces usually) 
# at the beginning and ending of a string
stri = "0000000@@   this is a polluted # string example   @@0000000"

x= stri.strip('0')
print(x)

# strip() is equivalent to strip(' ')

## replace(old_word,new_word) function

In [ ]:
# and now I present you the function replace
clean =x.replace()
print(clean)

# for in statement
### Looping through a list

In [ ]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']


for n in bicycles: 
    print(n)
 
print('this is outside the loop')

In [ ]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

c=1
word =bicycles[0]
print(c,' : ',word)
c=c+1

word =bicycles[1]
print(c,' : ',word)
c=c+1

word =bicycles[2]
print(c,' : ',word)
c=c+1

word =bicycles[3]
print(c,' : ',word)
c=c+1

print('this is outside the loop')

## range () function

In [ ]:
# loop above equivalent to 

for i in range(0,4): #for i = 0 to 3 do in C++
    c = i + 1
    print(c ,' : ',bicycles[i])

In [ ]:
# range function testers

In [ ]:
for number in range(8): # one only attribute = range(0,8)
    print(number)

In [ ]:
for number in range(2,8): # first is start , second the one before
    print(number)

In [ ]:
for number in range(2,8,2): # first is start , second the one before the last # 3rd the step
    print(number)

## Adding items to a list

In [ ]:
# add another string
bicycles.append('peugeot')
print(bicycles)

In [ ]:
# equivalent to 
bicycles = bicycles  +  ['peugeot']

In [ ]:
# aside: insert
bicycles.insert(2,'BMX')
print(bicycles)

In [ ]:
# add a number!
bicycles.append(22)
print(bicycles)

In [ ]:
bicycles.remove('BMX') #removes the 1st instance in the list of the attribute
print(bicycles)

In [ ]:
bicycles.pop() # removes the last item in the list
print(bicycles)

In [ ]:
# add a list!!
bicycles.append(['derailleur','shimano']) 
print(bicycles)

#YOU CAN ADD ANYTHING!!!

In [ ]:
# Code for accessing the second item in the list inside the list
print(bicycles[-1][0])

## Making numerical lists

In [ ]:
# initialisation 
cubes = [] 

# loop
for number in range(1, 7): 
    cubes.append(number**3) 

print(cubes)

# ** operator is power

In [ ]:
# write code to calculate the average of numbers from 5 to 15
# the average is the sum divided by the number of elements

series = [5,6,7,8,9,10,11,12,13,14,15]
#range(5,16)

## len() function

In [ ]:
# the amazing Len function - aka the length of everything
#len()    
   
l = len (range(5,16)) # number of elements in the numerical series
print(l)

print( len (bicycles)) #number of items in list

print(len('guardian')) # number of character

# List comprehensions : Advanced

In [ ]:
cubes = [x**3 for x in range(1, 7)] 
print(cubes)
# equivalent to

In [ ]:
cubes = [] 
for x in range(1, 7): 
    cubes.append(x**3) 
print(cubes)

## List comprehension exercise 

Write one line of Python that takes this list and makes a new list that has only the even elements of this list in it.

In [ ]:
List = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing a list

In [ ]:
finishers = ['Sue','Elliot', 'Kumiko','Damien','Aaron'] 
first_two = finishers[:2] # all up to 2 but not 2
print(first_two)

In [ ]:
last_two = finishers[2:] # from 2 (included) up to end
print(last_two)

In [ ]:
f = finishers[:2] + finishers[2:]
print(f)

In [ ]:
last_two = finishers[-3:]
print(last_two)

### Tuples

Tuples are similar to lists, but the items in a tuple can't be modified.

Making a tuple

In [ ]:
# tuple of numbers
dimensions = (1920, 1080)

# tuples of tuples
pushbikes= ('mountain', 'road', 'race', 'penny-farthing')

#tuple of different types of variables
hold_all = (35, 'Data Science', [1,2,3,4,5], (1,7))

print(hold_all)

In [ ]:
t, x, y , z= hold_all 
print(x)

In [ ]:
#hold_all[0]= 34

print(hold_all[0])

### If statements are used to test for particular conditions and respond appropriately.

# if (condition) : action

In [ ]:
# If statement
age = 25
commonwealth = True

if age >= 18: 
    print("You may be able to vote")
    print("something else")

In [ ]:
if (age >= 18 and commonwealth == True): # or xor
    print("You can vote!")

In [ ]:
#If-elif-else statements 
if age < 4: 
    price = 0
    print('Kids go free')
elif age < 18: price = 10 
elif age > 65: price = 12
else: price = 15
    

print(price)

Conditions

tests equals
x == 42 

not equal 
x != 42  

greater than 
x > 42 

greater than or equal to
x >= 42 

less than
x < 42 

less than or equal to
x <= 42

In [ ]:
x = 57 #  assign 57 to x

# (x<42) is  a test with a value of True of False
#print('is x smaller than 42?', x < 42)

Var = (x > 42 )

print(Var)

print(x<42)

In [ ]:
grade = 80

x = (grade> 70) # pass rate

if x :
    print("passed")
else :
    print("failed please retake")
    
if x :
    print("admission to uni")

## Conditional test with lists 
## IN
## NOT IN

In [ ]:
print('downhill' in bicycles)

In [ ]:
print('downhill' not in bicycles)

In [ ]:
if 'downhill' not in bicycles:
    bicycles.append('downhill')

In [ ]:
# downhill tricycle
if 'downhill' not in bicycles and 'tricycle' not in bicycles :
    bicycles = bicycles + ['downhill','tricycle']

In [ ]:
bicycles

In [ ]:
newbikes = ['downhill', 'tricycle', 'fixie']

In [ ]:
for b in bicycles:
    if b not in newbikes:
        newbikes.append(b)
    else: print(b,' already in')
        
print(newbikes)

Assigning boolean values

In [ ]:
game_active = True
can_edit = False

if game_active or can_edit:
    print('yay')

# Exercise

Take a list of numbers
and write a program that prints out all the elements of the list that are less than 5.

In [ ]:
# set list

List = [1, 1, 25, 3, 55, 8, 13, 21, 3, 5, 89]
less = []
# your code below

In [ ]:
# i want to put in a new list the odd numbers

In [ ]:
odds =[]



print(odds)

In [ ]:
#  modulo operation % gives the remainder of division
# div operation // that performs an integer division

print(5 % 2)
print(5 // 2)

# Dictionaries 
they store connections between pieces of information

Each item in a dictionary is a key-value pair

Simple dictionaries {}

In [ ]:
word_frequency = {'Data' : 14, 'Science': 10, 'Machine': 5, 'Learning' : 8}


real_dictionary = {'a': 'string that defines a', 'abc': 'definition of abc'}


# with different value types
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

Accessing a value

In [ ]:
print( car['colour'])
# dict[key] accesses the value in key , value pair

In [ ]:
#write code to retrieve the dictionary inside the dictionary

In [ ]:
# retrieve the value in the dictionary inside the dictionary
# width w
dict = {'w': 1795, 'l': 4465, 'h': 1465}
dict['w']

In [ ]:
# Adding / modifying a new key-value pair
car['transmission_type'] = 'automatic'

car['colour'] = 'blood red'
# dic[key] = value
print(car)

Values, Keys and Items

In [ ]:
print(car.items())

In [ ]:
print(car.keys())

In [ ]:
print(car.values())

Looping through all keys

In [ ]:
# for keys in dictionary:

for k in car.keys(): 
    print(k + ' is a car characteristic')

Looping through all the values

In [ ]:
# write code to loop through all the values
for v in car.values(): 
    print(v, "is a characteristic")

Looping through all key-value pairs

In [ ]:
for k,v in car.items():
    print(k , 'is', v)

In [ ]:
Tuples_List = [(1,2,3) , (4,5,6) , (7,8,9)]

for a , b , c in Tuples_List:
    print(a*b/c)

In [ ]:
#Write a Python script to concatenate following dictionaries to create a new one. 

#Sample Dictionary : 
dic1={1:'Royal Dutch Shell', 2:'BP'} 
dic2={3:'Total', 4:'Volkswagen'} 
dic3={5:'Glencore Xstrata',6:'Gazprom'}

In [ ]:
# Write a Python script to check if a given key already exists in a dictionary.

test_number = 7
key_in_dictionary = False

### your code ####

### Programs can prompt the user for input. 
All input is stored as a string. 

Prompting for a value

In [ ]:
# prompting for a value
name = input("What's your name? ") 
print("Hello, " + name + "!")

In [ ]:
# prompting for a number

age = int(input("How old are you? ")) #return a string
print(age*7)

In [ ]:
pi = input("What's the value of pi? ") 
print(pi)
pi = float(pi)

# Exercise
Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [ ]:
#initialisation
current_year = 2019

In [ ]:
# Write a Python program that prompts for a month name and converts it to a number
# of days.
#List of months: January, February, March, April, May, June, July, August
#, September, October, November, December                                

# Example
#Input the name of Month: February                                       
#No. of days: 28/29 days